*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  } 
  nav{
    display: flex;
    height: 150px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    overflow: hidden;
    
  }
  nav .logo{
    color: rgb(4, 182, 84);
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color:rgb(106, 106, 106);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(255, 255, 255);
    background: rgb(4, 182, 84);
  }
  nav .menu-btn i{
    color: rgb(4, 182, 84);;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  .custom-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: darkred;
}
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
    .contenforcover{
      padding-top: 30%; 
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 150px;
      left: -100%;
      background: whitesmoke;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: rgb(28, 123, 7);
    }

  }
  /* Uploadinfo */
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-card {
    flex: 0 0 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.image-upload-label {
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
}

.image-upload-label input {
    display: none;
}

.profile-picture {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px auto;
}

.content {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.action-buttons button {
    margin-right: 10px;
}
.button1 {
  display: inline-block;
  width: 80%;
  padding: 10px 20px;
  background-color: rgb(4, 182, 84);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.button1:hover {
  background-color: #45a049; /* Darker shade of the original color */
}
form button.button-custom {
  width: 80%;
  background-color: #ec071a; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Optional: Add rounded corners to the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

form button.button-custom:hover {
  background-color: #9e051c; /* Darker shade of the original color on hover */
}
form button.button3 {
  
  background-color: #065cf0; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Optional: Add rounded corners to the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

form button.button3:hover {
  background-color: #0444b2; /* Darker shade of the original color on hover */
}



#add-car-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.add-car-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: left;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .profile-card,
    .content {
        flex: 0 0 90%;
        max-width: 90%;
    }
}
.action-buttons button.sensor-button {
    background-color: #3498db;
   
    border-color: none;
   
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    
}
.action-buttons button.sensor-button:hover {
  background-color: #1a75b1;

}

.action-buttons button.gps-button {
    background-color: #27ae60;
    color: #fff;
    border-color: none;
    
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
   
}
.action-buttons button.gps-button:hover {
  background-color: #097737;

 
}

.action-buttons button.scanner-button {
    background-color: #0180ca;
    color: #fff;
    border-color: none;
   
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
   
}
.action-buttons button.scanner-button:hover {
  background-color: #035b8f;
}

.action-buttons button.drowsiness-button {
    background-color: #f5a80f;
    color: #fff;
    border-color: none;   
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease; 
}
.action-buttons button.drowsiness-button:hover {
  background-color: #ce8c09;
}
.action-buttons button.remove-button {
  background-color: #f80202;
  color: #fff;
  border-color: none;   
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease; 
}
.action-buttons button.remove-button:hover {
background-color: #b50303;
}
.action-buttons button.drowsiness-button:hover {
  background-color: #ce8c09;
}
.action-buttons button.remove-button2 {
  background-color: #f80202;
  color: #fff;
  border-color: none;   
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease; 
}
.action-buttons button.remove-button2:hover {
background-color: #b50303;
}
.add-car button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.add-car-form button:hover {
    background-color: #2980b9;
}
form button.removeButton {
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding to the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  border-radius: 5px;  
}

form button.removeButton:hover {
  background-color: darkred; /* Change background color to dark red on hover */
}
form button.removeButton2 {
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding to the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  border-radius: 5px;  
}

form button.removeButton2:hover {
  background-color: darkred; /* Change background color to dark red on hover */
}
form button.removebutton2 {
  background-color: red;
  color: white; /* Set the background color to red */
  border-color: none;   
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease; 
}

form button.removebutton2:hover {
  background-color: darkred; /* Change background color to dark red on hover */
}
form button.updatebutton2 {
  background-color: rgb(33, 37, 254);
  color: white; /* Set the background color to red */
  border-color: none;   
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease; 
}

form button.updatebutton2:hover {
  background-color: rgb(5, 8, 187); /* Change background color to dark red on hover */
}



